
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <p>Search the Federal Register for legislation and announcements that affect you.</p>
  </div>
  <div class="col-lg-4 col-lg-offset-4">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->