/* =responsive break-points
---------------------------------------------------------------------------- */
$screen-sm-min: 768px; /* Small devices (tablets) */
$screen-md-min: 992px; /* Medium devices (desktops) */
$screen-lg-min: 1200px; /* Large devices (large desktops) */

$screen-xs-max: 767px; /* X-small devices (phones) */
$screen-sm-max: 991px; /* Small devices (tablets) */
$screen-md-max: 1199px; /* Medium devices (desktops) */