.home.unauthorized {
  margin-top: 80px;

  .title {
    margin-bottom: 20px;

    h1, h3 {
      text-align: center;
    }
  }
  .naics-results {
    margin-top: 30px;

    .loader {
      display: none;
      height: 300px;
      width: 300px;
      margin: auto;

      &.visible {
        display: block;
      }
    }
    .document-container {
      padding: 10px;

      &.odd {
        background: #dbdbdb;

      }
    }
  }
}
