<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @document_query.term %>
</p>

<%= link_to 'Edit', edit_document_query_path(@document_query) %> |
<%= link_to 'Back', document_queries_path %>
